<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main>
    <div class="table-title">
        <h2>Compra Fornecedor </h2>
       

        <a href="#"
         class="btn btn-sucess"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="escondeBotao()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Novo
        </a>
    </div>

    <table class="tabela">
        <thead>
            <tr>
               <th>Data e hora</th>
               <th>Valor Total</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="linhas" *ngIf="compras && compras.length">
          <tr *ngFor="let compra of compras">
         <!--<th> {{compra.id}}</th>-->
             <th>{{compra.date}}</th>
             <th>{{compra.valueTotal}}</th>
             <th >
                <a  class="btn-detalecompra"data-bs-toggle="modal" data-bs-target="#detaleModal">
                 Ver detalhes da compra
                </a>
             <!-- <th>{{compra.idProduct}}</th>
             <th>{{compra.idProvider}}</th>  -->
              <button type="submit" class="btn-editar" (click)="editarCompra(compra,exampleModal)"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>      
            </th>
          </tr>
            
        </tbody>
        
    </table>

<!-- Modal Inserir/Alterar-->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova compra</h5>
      </div>
      <div class="modal-body">
        <form  method="post" #buyForm="ngForm">
            <input type="text" name="txtcompra" id="" class="DescCat" placeholder="Compra:">
            <input type="text" name="txtproduto" id="" class="DescCat" placeholder="Produto:">
            <input type="datetime-local" name="data" id="data" class="DescCat" [(ngModel)]="data" required ngModel>    
            <input type="number" name="quantidade" id="" class="DescCat" placeholder="Quantidade:">
            <input type="number" name="numbvalorunit" id="" class="DescCat" placeholder="Valor unitário:">
            <input type="number" name="numbvalortotal" id="valorTotal" class="DescCat" placeholder="Valor Total:" [(ngModel)]="valorTotal" required ngModel>
         </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="closer" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="salvar btn btn-primary"  *ngIf="botaoAdd" (click)="postCompras()">Salvar</button>
        <button type="button" class="salvar btn btn-primary" *ngIf="botaoUpdate"  (click)="editarCompraUpdate(editar)" >Alterar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detale-compra -->

<div class="modal fade" id="detaleModal" tabindex="-1" aria-labelledby="detaleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content det">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes da compra</h5>
        <div class="modal-fechar">
        <button type="button" id="closer" class="btn btn-close" data-bs-dismiss="modal"></button>
        </div> 
      </div>
      <div class="modal-body det">
      
        Pedido
        Produto
        Quantidade
        Valor unitáratio
        SubTotal
          <!-- *ngIf="detCompras && detCompras.length" -->
         
            <!-- *ngFor="let detCompra of detCompras" -->
          <!-- <th> {{detCompra.id}}</th> --> 
           <!-- <th>{{detCompra.idBuy}}</th>
           <th>{{detCompra.idProduct}}</th>
           <th>{{detCompra.amountBuy}}</th>
           <th>{{detCompra.valueUni}}</th>
           <th>{{detCompra.subTotal}}</th>  -->
      </div>
    </div>
  </div>
</div>



</main>

