<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main id="conteudo" >
  <ul>
    <li>
     <a href="categoria">
          <h3>Categoria</h3> 
      </a> 
    </li>
    <li> 
      <a href="cliente" >
          <h3>Cliente</h3>
      </a>
    </li>
    <li> 
      <a href="fornecedor" >
          <h3>Fornecedor</h3>
      </a>
    </li>
    <li>
      <a href="pagamento" >
          <h3>Pagamento</h3>
      </a>
    </li>
    <li>
      <a href="pedido" >
          <h3>Pedido</h3>
      </a>
    </li>
    <li>
      <a href="produto" >
          <h3>Produto</h3>
      </a>
    </li>
   </ul>
<div class="card-table"> 
  <div class="card-body">
    <div class="table-responsive" >  
      <div class="table-title">
        <h2>Clientes</h2>
     </div>
     <table width="100%">
      <thead>
       <tr>
         <td>Nome</td>
         <td>E-mail</td>
       </tr>
      </thead>
      <tbody *ngIf="clientes && clientes.length">
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.name}}</td>
          <td>{{cliente.email}}</td> 
        </tr>
        </tbody>
     </table>
    </div>
  </div>
 
  <div class="card-body">
    <div class="table-responsive">
      <div class="table-title">
        <h2>Fornecedores</h2> 
      </div>
      <table width="100%">
        <thead>
        <tr>
          <td>Nome </td>
          <td>E-mail</td>
        </tr>
        </thead>
        <tbody class="linhas" *ngIf="fornecedores && fornecedores.length">
          <tr *ngFor="let fornecedor of fornecedores">
             <td>{{fornecedor.name}}</td>
             <td>{{fornecedor.email}}</td>
          </tr>
        </tbody>  
        
     </table>
    </div>
  </div>
</div>
</main>