<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-menu></app-menu>
<main>
 
    <div class="table-title">
        <h2>Pedido Cliente</h2>
      
        <a href="#"
         class="btn btn-sucess"data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="escondeBotao()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Novo
        </a>
    </div>

    <table class="tabela">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Valor </th>
                <th>Data e hora</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody class="linhas" *ngIf="pedidos && pedidos.length">
          <tr *ngFor="let pedido of pedidos">
            <!--<th> {{pedido.id}}</th>-->
             <th>{{pedido.idClient}}</th>
             <th>{{pedido.valueTotal}}</th>
             <th>{{pedido.date}}</th> 
            <th>
              <a  class="btn-detalecompra"data-bs-toggle="modal" data-bs-target="#detaleModal">
                Ver detalhes da compra
               </a>
              <button type="submit" class="btn-editar" (click)="editarPedido(pedido,exampleModal)"  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-pencil" aria-hidden="true"></i></button>
             </th>
          </tr>   
        </tbody>
    </table>
    
 
<!-- Modal Inserir/Alterar-->

<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Pedido</h5>
      </div>
      <div class="modal-body">
            <form method="post" #orderForm="ngForm">
               <input type="text" name="txtClient" id="cliente" class="DescCat" placeholder="Cliente:" [(ngModel)]="cliente" required ngModel>
                <input type="number" name="numbValor" id="valorTotal" class="DescCat" placeholder="Valor:" [(ngModel)]="valorTotal" required ngModel>
                <input type="datetime-local" name="Data" id="data" class="DescCat" [(ngModel)]="data" required ngModel>
                
            </form>
      </div>
      <div class="modal-footer">
            <button type="button" id="closer" class="fechar btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="salvar btn btn-primary" *ngIf="botaoAdd" (click)="postPedidos()">Salvar</button>
            <button type="button" class="salvar btn btn-primary" *ngIf="botaoUpdate"  (click)="editarPedidoUpdate(editar)" >Alterar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Detale-pedido -->

<div class="modal fade" id="detaleModal" tabindex="-1" aria-labelledby="detaleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl ">
    <div class="modal-content det">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalhes da compra</h5>
        <div class="modal-fechar">
        <button type="button" id="closer" class="btn btn-close" data-bs-dismiss="modal"></button>
        </div> 
      </div>
      <div class="modal-body det">
      
        Pedido
        Produto
        Quantidade
        Valor unitáratio
        SubTotal
          <!-- *ngIf="detCompras && detCompras.length" -->
         
            <!-- *ngFor="let detCompra of detCompras" -->
          <!-- <th> {{detCompra.id}}</th> --> 
           <!-- <th>{{detCompra.idBuy}}</th>
           <th>{{detCompra.idProduct}}</th>
           <th>{{detCompra.amountBuy}}</th>
           <th>{{detCompra.valueUni}}</th>
           <th>{{detCompra.subTotal}}</th>  -->
      </div>
    </div>
  </div>
</div>


</main>

